
@{
    ViewBag.Title = "SiparinizTamamlandı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Siparişiniz En Kısa Zamanda Kargoya Verilecektir..</h4>
<h5>Siparişinizin Durumunu Takip Etmek İçin Lütfen Kullanıcı Adınıza Tıklayınız..</h5>

